<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="text-center">My Blog</h1>
        <a id="newPostBtn" class="btn btn-success btn-custom-green" href="/new">New Post</a>
      </div>
    </div>
    <div class="row">
      <% posts.forEach(post => { %>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h2><%= post.title %></h2>
            </div>
            <div class="card-body">
              <p><%= post.content %></p>
              <small class="text-muted">By: <%= post.author %></small>
            </div>
            <div class="card-footer">
              <small><%= post.date %></small>
              <a class="btn btn-warning btn-sm" href="/edit/<%= post.id %>">Edit</a>
              <a class="btn btn-danger btn-sm" href="/api/posts/delete/<%= post.id %>">Delete</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
